/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@300;800&family=Roboto+Mono:wght@300;400&family=Sanchez&display=swap');

// fonts
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-serif: 'Sanchez', serif;
$font-family-monospace: 'Roboto Mono', monospace;

// colors
$baby-blue: #d2e3f3;
$teal: #047C90;
$dark-blue: #003660;
$white: #FFFFFF;
$green: #78A540;
$magenta: #900C3F;
$white: #FFFFFF;
$off-white: #F7F7F7;
$gray: #ADADAD;
$dark-gray: #373A3E;

// quarto sass variables
$navbar-bg: $off-white;
$navbar-fg: $dark-blue;
$navbar-hl: $teal;
$body-bg: $white;
$body-color: $dark-gray;
$footer-bg: $dark-blue;
$link-color: $green;

/*-- scss:rules --*/

h1, h2, h3 {
  font-family: $font-family-serif;
  color: $dark-blue;
}

h2 {
  border-bottom: 3px solid $dark-blue;
  padding-bottom: 0.5rem;
}

// horizontal line (default dark blue)
/*hr {
  border: 3px solid $dark-blue;
  border-radius: 5px;
  margin-bottom: 30px;
}*/

// gray text
.gray-text {
  color: $gray;
}

// teal text
.teal-text {
  color: $teal;
}

// center text (horizontally)
.center-text{
  text-align: center;
}

